<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Show Room</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Show Room</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link active" aria-current="page" href="/roomList">Rooms</a>
                    <a class="nav-link text-end" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row ">
            <div class="col-5 m-auto">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">{{room.shortdetail}}</h1>
                        <p class="card-text">{{room.details}}</p>
                        <p class="card-text">{{room.rent}}</p>
                        <p class="card-text">{{room.rentedby}}</p>
                        {%if user.usertype == "landlord"%}
                            <a href="/editRoom/{{room['id']}}" class="btn btn-primary">Edit</a>
                            <a href="/delete/{{room['id']}}" class="btn btn-primary">Delete</a>
                        {%else%}
                            <a href="" class="btn btn-primary">Rent</a>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>